* {
    box-sizing: border-box;
}

/* body {
    background-color: #f4f7fa;
} */

body.dark-mode {
    color: #a2b9c8;
    background-color: #01263f!important;
}

body.dark-mode .h1>a,
body.dark-mode .h2>a,
body.dark-mode .h3>a,
body.dark-mode .h4>a,
body.dark-mode .h5>a,
body.dark-mode .h6>a,
body.dark-mode h1>a,
body.dark-mode h2>a,
body.dark-mode h3>a,
body.dark-mode h4>a,
body.dark-mode h5>a,
body.dark-mode h6>a {
    color: #92adbf
}

body.dark-mode .h1>a:hover,
body.dark-mode .h2>a:hover,
body.dark-mode .h3>a:hover,
body.dark-mode .h4>a:hover,
body.dark-mode .h5>a:hover,
body.dark-mode .h6>a:hover,
body.dark-mode h1>a:hover,
body.dark-mode h2>a:hover,
body.dark-mode h3>a:hover,
body.dark-mode h4>a:hover,
body.dark-mode h5>a:hover,
body.dark-mode h6>a:hover {
    color: #1d6fa5
}

body.dark-mode .h1.text-white>a,
body.dark-mode .h2.text-white>a,
body.dark-mode .h3.text-white>a,
body.dark-mode .h4.text-white>a,
body.dark-mode .h5.text-white>a,
body.dark-mode .h6.text-white>a,
body.dark-mode h1.text-white>a,
body.dark-mode h2.text-white>a,
body.dark-mode h3.text-white>a,
body.dark-mode h4.text-white>a,
body.dark-mode h5.text-white>a,
body.dark-mode h6.text-white>a {
    color: #fff
}

body.dark-mode p {
    color: #a2b9c8
}

body.dark-mode hr,
body.dark-mode pre {
    border-color: #013558
}

body.dark-mode .u-header__section {
    background-color: #012137;
    box-shadow: none
}

body.dark-mode .card {
    border-color: transparent !important;
    background-color: #012137 !important;
    box-shadow: 0 .5rem 1.2rem rgba(4, 76, 124, .2)
}

body.dark-mode .card-header {
    background-color: #012137 !important;
    border-color: #013558
}

body.dark-mode .card-header-title {
    color: #a2b9c8
}

body.dark-mode .panel {
    background-color: #012137 !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    border: 1px solid #eee2;
    transition: .3s all ease
}
body.dark-mode .panel:hover {
    background-color: #dadada11!important;
    box-shadow: 2px 5px 10px 0 rgba(0,0,0,.3);
    transition: .2s all ease
}

body.dark-mode .text-secondary {
    color: #7295ac !important
}

body.dark-mode .link-hover-secondary,
body.dark-mode .text-dark,
body.dark-mode .text-link,
body.dark-mode .text-muted,
body.dark-mode .text-white {
    color: #a2b9c8 !important
}

body.dark-mode .bg-light {
    background-color: #01263f !important
}

body.dark-mode #push {
    background-color: #01263f;
}



.gradient-half-primary-body-v1 {
    background-image: linear-gradient(150deg,#19a0ff,#2d1582);
    background-repeat: repeat-x;
}

body.dark-mode .gradient-half-primary-body-v1 {
    background: #012137!important;
}





.wrapper {
    height: auto!important;
    height: 100%;
    margin: 0 auto -99px;
    min-height: 100%;
    background-color: #f4f7fa!important;
}
.u-header {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}
.u-header__section {
    position: relative;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(151,164,175,.1);
}

body .bg-light {
    background-color: #f4f7fa!important;
}
main {
    position: relative;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaf3;
    border-radius: .25rem;
}
.card {
    box-shadow: 0 0.5rem 1.2rem rgba(189,197,209,.2);
}

.card-header-title {
    color: #4a4f55;
    /* font-size: .9rem; */
    font-weight: 600;
    margin-bottom: 0;
}


/* Panel of 4 cards */
.panel {
    background-color: #fff;
    margin-bottom: 35px;
    height: 215px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05);
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s all ease
}
.panel:hover {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    border: 1px solid #dadada;
    transition: .2s all ease
}

.panel-body {
    padding: 20px;
        padding-bottom: 20px;
}

.cell-avatar {
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    background: transparent 50% no-repeat;
        background-image: none;
        background-size: auto;
    background-size: contain;
    margin-bottom: 15px;
}

.cell-avatar.topic-checklist {
    background-image: url(../images/topic-checklist.svg);
}
.cell-avatar.topic-deduce {
    background-image: url(../images/topic-deduce.svg);
}
.cell-avatar.topic-sentiment {
    background-image: url(../images/topic-sentiment.svg);
}
.cell-avatar.topic-target {
    background-image: url(../images/topic-target.svg);
}

.panel .panel-body .description {
    color: #777;
    font-size: 14px;
    color: #7f8a96;
    margin: 10px 0 0;
    max-height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}


.space-bottom-2 {
    padding-bottom: 3.25rem!important;
}
@media only screen and (max-width: 768px) {
    .space-bottom-2 {
        padding-bottom: 2rem!important;
    }
}


#push {
    height: 99px;
    background-color: #f4f7fa;
}





.h-100 {
    height: 100%!important;
}
.pb-4, 
.py-4 {
    padding-bottom: 1.25rem!important;
}
.pt-4, 
.py-4 {
    padding-top: 1.25rem!important;
}

.font-size-1 {
    font-size: .75rem;
}

.pb-3, 
.py-3 {
    padding-bottom: .75rem!important;
}
.pt-3, 
.py-3 {
    padding-top: .75rem!important;
}

.mb-4, 
.my-4 {
    margin-bottom: 1.25rem!important;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.ml-3, .mx-3 {
    margin-left: .75rem!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.h4, h4 {
    font-size: 1.25rem;
}

.text-white {
    color: #fff!important;
}
.text-white-70 {
    color: hsla(0,0%,100%,.7);
}

p {
    color: #6c757e;
    line-height: 1.7;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Button styles */
.btn {
    display: inline-block;
    font-weight: 500;
    color: #1e2022;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .75rem 1rem;
    font-size: .8125rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

a, a:hover {
    text-decoration: none;
}
a {
    color: #3498db;
    background-color: transparent;
}

.btn[href] {
    cursor: pointer;
}
.btn:hover {
    color: #1e2022;
    text-decoration: none;
}
.btn-xss {
    font-size: .60938rem!important;
    padding: .3rem .6rem;
}
.btn-xs, .btn-xss {
    border-radius: .125rem;
}
.btn-soft-light {
    color: #f4f7fa;
    background: rgba(248,249,250,.1);
    border-color: transparent;
}
.btn-soft-light[href]:hover, 
.btn-soft-light[type].active, 
.btn-soft-light[type]:active, 
.btn-soft-light[type]:focus, 
.btn-soft-light[type]:hover {
    color: #1e2022;
    background: #f4f7fa;
    box-shadow: 0 4px 11px rgba(248,249,250,.35);
}
body.dark-mode .btn-soft-light[href].active,
body.dark-mode .btn-soft-light[href]:active,
body.dark-mode .btn-soft-light[href]:focus,
body.dark-mode .btn-soft-light[href]:hover,
body.dark-mode .btn-soft-light[type].active,
body.dark-mode .btn-soft-light[type]:active,
body.dark-mode .btn-soft-light[type]:focus,
body.dark-mode .btn-soft-light[type]:hover {
    color: #a2b9c8;
    background: hsla(0, 0%, 100%, .2);
    box-shadow: none
}

.btn-icon.btn-sm {
    font-size: .66422rem;
    width: 1.625rem;
    height: 1.625rem;
}
.btn-sm {
    font-size: .75rem;
}
/* position the icon the the center of the button */
.btn-icon {
    position: relative;
    line-height: 0;
    font-size: .8125rem;
    width: 2.53906rem;
    height: 2.53906rem;
    padding: 0;
}

/* Footer & link list */
.heading-border {
    position: relative;
    padding-bottom: .5rem;
}
.heading-border:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    border-bottom: 1px solid rgba(231,234,243,.2);
}



.mr-1, .mx-1 {
    margin-right: .25rem!important;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}
.list-group {
    list-style: none;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0
}
.list-group-item {
    position: relative;
    display: block;
    padding: .425rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #e7eaf3
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.list-group-item.disabled,
.list-group-item:disabled {
    color: #8c98a4;
    pointer-events: none;
    background-color: #fff
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #3498db;
    border-color: #3498db
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0
}
.list-group-flush .list-group-item:last-child {
    margin-bottom: -1px
}
.list-group-flush:first-child .list-group-item:first-child {
    border-top: 0
}
.list-group-flush:last-child .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: 0
}

.list-group-sm .list-group-item {
    padding-top: .35rem;
    padding-bottom: .35rem
}
.list-group-transparent .list-group-item {
    border-color: transparent;
    background-color: transparent
}

.list-group-white .list-group-item {
    color: #fff
}
.list-group-white .list-group-item[href] {
    color: hsla(0, 0%, 100%, .7)
}
.list-group-white .list-group-item[href]:hover {
    color: #fff
}
.list-group-white .active>.list-group-item {
    color: #fff
}

.list-group-flush .list-group-item {
    padding-left: 0;
    padding-right: 0
}
.list-group-flush .list-group-item.active {
    color: #3498db;
    background-color: transparent;
    border-color: transparent
}

.list-group-borderless .list-group-item {
    border: none
}

/* Content braker */
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #e7eaf3;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.opacity-md {
    opacity: .2
}
